.page_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.post_number {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #787486;
  letter-spacing: -1%;
  margin-top: 4px;
}

.btn_iconPlus_wrapper {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #3d5db2;
  display: flex;
  align-items:center;
  justify-content: center;
}
