.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleAndUrl {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
}

.input_wrapper label {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 8px;
}

.textInput {
  padding: 11px !important;
  font-size: 14px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: #333333 !important;
  font-family: "Lato" !important;
  border: 1px solid #f7f7f7 !important;
  box-shadow: 0px 0px 10.9px 0px #ebebeb40 !important;
}

.textInput::placeholder {
  font-size: 14px !important;
  line-height: 22px !important;
  font-weight: 400 !important;
  color: #9ca3af !important;
  font-family: "Lato" !important;
}

.categories {
  display: flex;
  align-items: center;
  gap: 8px;
}

.category {
  padding: 12px 26px;
  border-radius: 50px;
  border: 1px solid #1447e6;
  color: #1447e6;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.category_active {
  cursor: auto;
  background-color: #1447e6;
  color: #ffffff;
  border: none;
}

.input_image {
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 0px 10.9px 0px #ebebeb40;
  border: 1px solid #f0f0f0;
  color: #787486;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.preview_wrapper {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.preview {
  width: 128px;
  height: 96px;
}

.preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.preview_wrapper span {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 2px 6px;
  border-radius: 30px;
  border: 1px solid #3db23f;
  font-size: 12px;
  line-height: 20px;
  color: #3db23f;
  max-width: max-content;
}

.deleteImg {
  cursor: pointer;
}

.editor_wrapper {
  padding: 20px;
  box-shadow: 0px 0px 10.9px 0px #ebebeb40;
  border: 1px solid #f7f7f7;
  border-radius: 12px;
}

.editor_desc {
  font-size: 14px;
  line-height: 21px;
  color: #717182;
  margin-bottom: 4px;
  margin-bottom: 8px;
}

.editor {
  min-height: 200px !important;
}

.button {
  width: 100%;
  margin-top: 4px;
  border-radius: 10px !important;
}

.error {
  color: #ff4d4f;
  font-size: 13px;
  margin-top: 4px;
  animation: fadeIn 0.2s ease-in-out;
}
