.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkIcon_wrapper {
  width: 96px;
  height: 96px;
  border-radius: 50px;
  background-color: #ceffe1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.checkIcon_wrapper img {
  width: 60px;
  height: 60px;
}

.title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #2a2a2a;
  margin-top: 24px;
}

.desc {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: #6a7282;
  margin-top: 8px;
  text-align: center;
}

.btn {
  margin-top: 40px;
  width: 100%;
  border-radius: 8px !important;
}
