.table_filter {
  background-color: #ffffff;
  box-shadow: 0px 0px 10.9px 0px #ebebeb40;
  border: 1px solid #f7f7f7;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.select_filter {
  width: 146px;
}

.select_status_label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status_icon {
  min-width: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
}

.status_icon_active {
  background-color: #1db100;
}

.status_icon_inactive {
  background-color: #d82c2c;
}

.search_wrapper {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.search_wrapper img {
  margin-bottom: 1px;
}

.search_wrapper input {
  height: 36px;
  min-width: 216px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.search_wrapper input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.search_wrapper input::placeholder {
  font-size: 14px;
  line-height: 100%;
  color: #b0b0b9;
}

.table {
  border: 1px solid #f7f7f7;
  box-shadow: 0px 0px 10.9px 0px #ebebeb40;
  border-radius: 8px;
  margin-top: 24px;
}

.header {
  border-bottom: 1px solid #f5f5f5;
}

.header div {
  padding: 12px;
  border-right: 1px solid #f5f5f5;
  text-align: center;
  color: var(--blue_main);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.header div:first-child {
  text-align: start;
}

.header div:last-child {
  border-right: none;
}

.table_col {
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_img {
  min-width: 108px;
  height: 90px;
}

.post_img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_wrapper {
  width: 80px;
}

.text_wrapper h4 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_wrapper p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #6a7282;
  letter-spacing: -0.15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  text-align: left;
}

.type {
  border-radius: 6px;
  padding: 4px 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.type_announcement {
  background-color: #f3e8ff;
  color: #8200db;
}

.type_news {
  background-color: #c4deff;
  color: #1447e6;
}

.dateAndTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.date {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #222222;
}

.time {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #aaaaaa;
}

.chip_status {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  padding: 3px 12px;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.chip_status_active {
  color: #145e00;
  background-color: #e7ffe1;
}

.chip_status_inactive {
  color: #8a0b0b;
  background-color: #ffeaea;
}

.author {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  color: #0a0a0a;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions img {
  cursor: pointer;
}

.pagination_wrapper {
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.select_limit {
  margin-top: 15px;
}
