@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;600;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --blue_main: #243c7b;
}

/* Base styles */
body {
  font-family: "Lato";
  min-height: 100vh;
  background-color: #fefefe;
  display: flex;
  place-items: center;
}

button {
  cursor: pointer;
  font-family: "Inter";
}
